@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    background: url(https://source.unsplash.com/featured/?nature);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: none;
    color: #f1f1f1;
}
